body{
    background: url('https://thumbs.gfycat.com/HatefulSeveralIbis-max-1mb.gif');
    background-size: auto 100vh;
    font-family: 'Pangolin', cursive;
    height: 100vh;
}

.menu {
    background-image: linear-gradient(#ADFF2F,#00FF00,#90EE90,#228B22,#006400);
    font-size: 18px;
    padding: 10px 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: underline;
}

.site-subtitle,
.site-title {
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 20px 0;
}

.site-subtitle{
    font-style: italic;
    font-size: 22px;
    padding: 20px 0;
}

